
.textarea-stats {
  display: flex;
  gap: 1.5rem; /* Aumenta o espaçamento entre os itens */
  margin-top: 1rem; /* Espaço acima dos contadores */
  padding: 0.5rem 0; /* Espaço interno vertical */
  font-size: 0.875rem;
  color: var(--text-secondary);
  
  /* uma borda para ficar melhor de ver os numeros de linhas e caracteres*/
  border-top: 1px solid var(--separator);
}

/* destaque aos numeros de linhas e caracteres*/
.textarea-stats span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.textarea-stats span::before {
  content: "•";
  color: var(--primary);
  font-weight: bold;
}

/* Versão mobile */
@media (max-width: 768px) {
  .textarea-stats {
    gap: 1rem;
    flex-wrap: wrap; /* Permite que os itens quebrem linha se necessário */
  }
}